* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inti dari Div Full-Height */
body {
    height: 100vh;
}

.box-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    background-color: rgba(51, 51, 51, 0.3);
}

ul li {
    list-style: none;
    text-align: center;
    line-height: 65px;
}

ul li a {
    padding: 10px;
    margin: 0 10px;
    font-weight: bolder;
    text-decoration: none;
    color: #f8f8f8;
}

.hvLink1:hover {
    background-color: #f8f8f8;
    transition: all 1s;
    color: crimson;
}

.hvLink2:hover {
    background-color: #f8f8f8;
    transition: all 1s;
    color: darkcyan;
}

.hvLink3:hover {
    background-color: #f8f8f8;
    transition: all 1s;
    color: chocolate;
}

.full-height1,
.full-height2,
.full-height3 {
    height: 100vh;
}

.full-height1 {
    background-color: crimson;
}

.full-height2 {
    background-color: darkcyan;
}

.full-height3 {
    background-color: chocolate;
}

p {
    padding: 50vh 20px;
    text-align: center;
    font-size: larger;
    color: cornsilk;
}

@media (max-width: 425px) {
    ul li a {
        font-size: small;
    }

    p {
        font-size: small;
    }
}